*{
    margin:0;
    padding: 0;
}

body{
    margin: 0;
    background: darkgray;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{height: 50px;
    width: 100px;
    margin: 10px;
}

button:hover{
    background: blue;
    height: 50px;
    width: 100px;
    border-radius: 10px;

}
#myCanvas{
    background:lightgray;
    
}

#buttons{
    position: absolute;
    bottom: 15px;
    

}
#Score{
    position: absolute;
    top: 8px;
    right: 10px;
    background-color: black;
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
}

#ui{

    position : absolute;
    background-color: aquamarine;
    height : 80vh;
    width :60%;
    border-radius: 15px;
    top: 60px;
    display: flex;
    justify-content: center;
    opacity: 70%;
    visibility: hidden;
    
    
}

#content{
    font-size: 20px;
    gap: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    


